{% extends 'site/layout.html' %}
{% load static from staticfiles %}
{% block sidebar %}
<div ng-controller="AddSubscriptionCtrl">
	
	<button class="btn btn-primary btn-large btn-block" ng-click="url='';subscribing=true">Abonneren</button>
	<div effects-fade="subscribing" effects-fade-speed="200" ng-cloak
			modal-window
			header="Abonneren"
			close="subscribing=false"
			submit="add(url)"
			ok-text="Abonneren"
			cancel-text="Annuleren"
			input-on-escape="subscribing=false"
			>
			<input type="text" class="input-block-level" ng-model="url" placeholder="Feed of site adres" auto-focus="subscribing" />
	</div>
</div>

<div ng-controller="SubscriptionsCtrl">
	

	
	<ul class="unstyled">
		<li ng-repeat="subscription in subscriptions" ng-cloak class="subscription">
			<span ng-bind="subscription.name"></span>
			<div class="options dropdown-hover pull-right">
				<span class="iconic iconic-cog"></span>
				<ul>
					<li><a href="javascript:void(0)" ng-click="$parent.renameSubscription=subscription;$parent.newName=subscription.name">Hernoemen</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<div effects-fade="renameSubscription" effects-fade-speed="200" ng-cloak
			modal-window
			header="Hernoemen"
			close="renameSubscription=null"
			submit="renameSubscription.name=newName;renameSubscription.$save()"
			ok-text="Opslaan"
			cancel-text="Annuleren"
			input-on-escape="renameSubscription=null"
			>
			<input type="text" ng-model="newName" id="feed-name" class="input-block-level" auto-focus="renameSubscription" />
	</div>
</div>
{% endblock %}
{% block content %}
<h1>hoi</h1>
{% endblock %}

{% block scripts %}
<script src="{% static 'site/app/controllers/subscriptions.js' %}"></script>
<script src="{% static 'site/app/services/subscriptions.js' %}"></script>

{% endblock %}